<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hesh.dao.SanFangMapper">

	<!--实体映射-->
	<resultMap id="sanfang" type="com.hesh.vo.user.SanFang">
        <!--自增ID-->
		<id property="id" column="id" />
		<!--客户经理工号-->
		<result property="sfCode" column="sfCode" jdbcType="VARCHAR" />
		<!--注册数量-->
		<result property="sfPassword" column="sfPassword" jdbcType="VARCHAR" />
		<!--标识（0未开始，1完成，2删除，3未完成）-->
		<result property="pastate" column="pastate" jdbcType="VARCHAR" />
		<!--状态-->
		<result property="sfIp" column="sfIp" jdbcType="VARCHAR" />
		<result property="state" column="state" jdbcType="VARCHAR" />
		<!--创建人-->
		<result property="creater" column="creater" jdbcType="VARCHAR" />
		<!--创建时间-->
		<result property="creatTime" column="creatTime" jdbcType="DATE" />
		<!--修改人-->
		<result property="modifier" column="modifier" jdbcType="VARCHAR" />
		<!--修改时间-->
		<result property="modifyTime" column="modifyTime" jdbcType="DATE" />
	</resultMap>



    <!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id,	sfCode,	sfPassword,	sfIp,	state,	creater,	creatTime,	modifier,	modifyTime
	</sql>

	<!--查询条件-->
	<sql id="sqlCondition">
			<if test="id != null">
				 and id= #{id}
			</if>
			<if test="pnCode != null">
				 and sfcode= #{sfCode}
			</if>
			<if test="zcCount != null">
				 and sfPassword= #{sfPassword}
			</if>
			<if test="pastate != null">
				 and sfIp= #{sfIp}
			</if>
			<if test="ssCount != null">
				 and state= #{state}
			</if>
			<if test="creater != null">
				 and creater= #{creater}
			</if>
			<if test="creatTime != null">
				 and creatTime= #{creatTime}
			</if>
			<if test="modifier != null">
				 and modifier= #{modifier}
			</if>
			<if test="modifyTime != null">
				 and modifyTime= #{modifyTime}
			</if>

	</sql>

	<!--分页获取数据(开始)  -->
	<select id="getSfCount" resultType="java.lang.Long">
		 SELECT
		count(0)
		 FROM pa_sanfang
		 WHERE dr=0 
		<include refid="sqlCondition"/>
	</select>

	<!--分页获取数据(开始)  -->
	<select id="selectSanFang" resultType="sanfang">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM pa_sanfang
		 WHERE dr=0
		<include refid="sqlCondition"/>
		 	</select>

	<!-- 查询（根据主键ID查询） -->
	<select id="getSanFangInfoById" resultType="sanfang" parameterType="java.lang.Integer">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM pa_sanfang
		 WHERE id = #{id} and  state=1
	</select>

	<!--删除：根据主键ID删除-->
	<update id="deleteById" parameterType="java.lang.Integer">
		 UPDATE  pa_sanfang set  state=2
		 WHERE id = #{id}
	</update>

	<!-- 添加 -->
<!--
	<insert id="insertsanfang" parameterType="com.hesh.vo.user.Customer">
		 INSERT INTO pa_sanfang
 		(id,pnCode,zcCount,pastate,ssCount,creater,creatTime,modifier,modifyTime,dr)
		 VALUES 
 		(#{id},#{pnCode},#{zcCount},#{pastate},#{ssCount},#{creater},#{creatTime},#{modifier},#{modifyTime},0)
	</insert>
-->

    <!-- 修 改-->
<!--    <update id="updateByPrimaryKeySelective" parameterType="com.hesh.vo.user.Customer">
        UPDATE pa_sanfang
        <set>
          <if test="pnCode != null">
				 and sfcode= #{sfCode}
			</if>
			<if test="zcCount != null">
				 and sfPassword= #{sfPassword}
			</if>
			<if test="pastate != null">
				 and sfIp= #{sfIp}
			</if>
			<if test="ssCount != null">
				 and state= #{state}
			</if>
			<if test="modifier != null">
				 and modifier= #{modifier}
			</if>
			<if test="modifyTime != null">
				 and modifyTime= #{modifyTime}
			</if>

        </set>
        WHERE id = #{id}
    </update>-->

    <!-- 修 改-->
  <!--  <update id="updateByPrimaryKey" parameterType="com.hesh.vo.user.Customer">
		 UPDATE pa_sanfang
		 SET
			 pnCode = #{pnCode},
			 zcCount = #{zcCount},
			 pastate = #{pastate},
			 ssCount = #{ssCount},
			 creater = #{creater},
			 creatTime = #{creatTime},
			 modifier = #{modifier},
			 modifyTime = #{modifyTime}
		 WHERE id = #{id}
	</update>-->
	<!--&lt;!&ndash; 添加 （匹配有值的字段）&ndash;&gt;
	<insert id="insertSelective" parameterType="com.hesh.vo.user.Customer">
		 INSERT INTO pa_sanfang
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				 id,
			</if>
			<if test="pnCode != null">
				 pnCode,
			</if>
			<if test="zcCount != null">
				 zcCount,
			</if>
			<if test="pastate != null">
				 pastate,
			</if>
			<if test="ssCount != null">
				ssCount,
			</if>
			<if test="creater != null">
				 creater,
			</if>
			<if test="creatTime != null">
				 creatTime,
			</if>
			<if test="modifier != null">
				 modifier,
			</if>
			<if test="modifyTime != null">
				 modifyTime
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">
				 #{id},
			</if>
			<if test="pnCode!=null">
				 #{pnCode},
			</if>
			<if test="zcCount!=null">
				 #{zcCount},
			</if>
			<if test="pastate!=null">
				 #{pastate},
			</if>
			<if test="ssCount!=null">
				 #{ssCount},
			</if>
			<if test="creater!=null">
				 #{creater},
			</if>
			<if test="creatTime!=null">
				 #{creatTime},
			</if>
			<if test="modifier!=null">
				 #{modifier},
			</if>
			<if test="modifyTime!=null">
				 #{modifyTime}
			</if>
		 </trim>
	</insert>-->


</mapper>